In [1]:
import hyperline
import pandas as pd

In [2]:
query = "SELECT * FROM hyperline.ethereum.blocks LIMIT 5"

In [3]:
df = hyperline.sql.execute_sql(query)

In [4]:
with pd.option_context('display.max_colwidth', None):
  display(df)

,block_hash,block_number,block_timestamp,parent_hash,size,extra_data,gas_limit,gas_used,base_fee_per_gas,mix_hash,...,sha3_uncles,transaction_count,transactions_root,receipts_root,state_root,logs_bloom,withdrawals_root,withdrawals,difficulty,total_difficulty
0,0xc364bf558b5e5fd7068496fe354e8b0dd5c30bcab9906a39f0a8c5dbb5dda5e8,1083761,2016-03-01 16:16:52+00:00,0x0e1f9a6968812dd1a6e9bd935e9c25563f256dac9e53cb5c680213956389c203,1312,0xd783010302844765746887676f312e352e31856c696e7578,3141592,110628,None,0xfdba2c2b20b4e0e0d977f8ad2ea8d43f9a0eeeb7c06499bd16843550c29d1001,...,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347,2,0x2c761a42ec34da2c14e59ae1c0004b05c9c10fbd215c216b68bc69ad89b998da,0x120ccc1787054d9a7778abb1854bf00c1d65dcfbfc27b863ddf6552e0780838c,0x9e42e4577bf53b2ae4d290d5bae733d532600eb83e8daefd4525ed62a7485821,0x00000000000000000000000000000000000000000000000000000000000000000000000000000000040000000100000000000002000000000000000000000000000000000000000000000000000000000000000000000000000100000000000100400000020000000000000000000802000000000000000000010000000000000000000000000000400004000000000000000000000000000000000000010000000000002000000400000000000000000000000000000408000800000000010000000000000000000000000000000000080000000000000000000000000020000000000000100000000000080000000000000000000000002000000000000000,None,[],14646989011715.000000000,8258804118306527986.000000000
1,0x6cc3d53578f423aada35efa825acca8f8c0ea5dcfa72ee8eee86be3696edaa65,1082697,2016-03-01 11:24:27+00:00,0x63218226e4c8eec14b964ef5337077064bdb5251fff72108e63a6dd1f38bfb99,998,0xd783010303844765746887676f312e352e31856c696e7578,3141592,84000,None,0xbdb8ba687fa48116e841f31569fcf07e3696d179138f4cf4dbb097f4c7f31dd6,...,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347,4,0xf178e09f54768420943ac26209f3b9368f05e3e416bff9bc22707a38693dfe3f,0x08c0f2498a7d94369d4b82c065d452a1c32537f90ee08a52890fb1fb3acf8700,0x65a2e3332d21d3b2a70c2a6468dfe231e98dfe3df4bb26d875bce2344ccb6be4,0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000,None,[],14281585483233.000000000,8243409200767431333.000000000
2,0xa667423474e3f0fc253a2785b614c3997787a12378edc9a9faf462c806dc3ff7,1082527,2016-03-01 10:32:54+00:00,0x3045b6635444179c84ecfdd8a293c6ead82ff4b17a6cb462464142cd11ff1335,1318,0xd983010302844765746887676f312e342e328777696e646f7773,3142960,149837,None,0x5b946156a3746a97c35c57c778f35f116df999982fed04146e4955129738a5ec,...,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347,2,0x13153eff97a4838bf6d593ac2fe83363f4c8923c2960fa57259949a6cfcd787e,0x8c75c8a6c974d82510920bb9e80dbe65447ba684252cdfcd3415c855a938413e,0xaaec5acde2bcbc1c06a34d913da7f1362de29b41ba508f8fe10bac9ffe3e5fbd,0x0000000000000000000200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000a000400000000000000000000000000000000000000000000020000000001000000000802000002000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000400000000000000010000000002200000000000000000000002000000800000000000000000000020000020000600001000080000000000000000000000000000000000000000000000,None,[],14407952408236.000000000,8240980105884758894.000000000
3,0x8bf6c2fbc3a79b222c872420a898761efbc6329d4ed5f78be29f15f62953946e,1083327,2016-03-01 14:20:03+00:00,0x4b4e0c6876fbb584c1e528c84ce5ff84e01550511cf49b0ab974ef9411a60ed7,3195,0xd783010303844765746887676f312e342e32856c696e7578,3141773,577980,None,0xdc1958bd1cd6dbc1ab8c16bfbe89c5107ac6b842ecc4cd94fba9a7c105cd9a26,...,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347,13,0xb11013e409227fb35e124fade38b054e4056915a4da8d2d2798e21377ce1444e,0xf54c5d9beabacf1354d62341dd1f8ae98e204681469caf27601e655b8e9c1ee8,0x4a0f71d9bd260c8367fa8f8899afd4875ed1e7399bb71fc87b7edd997a83ad03,0x000000000000000000000000000000000000000000000000000000000000000000000000000000000c0000000000000000000002000000000000000400000000000000000000000000000002000000000000000000000000000100000000000000400000020000000000000000000802000002000000000000000000000000000000000000000000400004000000000000000000000000000000000000000000000000000000000400100000000000000000000000000408000800000000012000000000000000000000040000000000080000000000000000000000000020000000000000100000000000080008000040000000000000000000000000000000,None,[],14505398486503.000000000,8252493294018381633.000000000
4,0x56e1547b662995aa9d8d0a5441b1ddf88add7abe3bb9390705c479597bdb503a,1082882,2016-03-01 12:15:01+00:00,0x0105364dc55dec5989d113b97f13c87fb46626e99f49d41452662ca805b764c3,1445,0xd783010303844765746887676f312e352e31856c696e7578,3141592,168000,None,0xebefd00d687d98e5b0890a4821cfd83c4748aa770ead6f401e565b37cf43f477,...,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347,8,0x1f4e5630928212d7452351174408b6f1419248f66d4cfccec843a1861d5a40a6,0x9c729f8fca1e73857926f7ba591c515a7c29661d2e3456fa7f21d6b1a36bf6fc,0x1e9943700c044d292ee120b806a1cdcbd4e1f3e347a6203f7ddf52fa139a973b,0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000,None,[],14358182988000.000000000,8246061155615871880.000000000

In [7]:
location = 'gs://hws-async/sahil@asynclabs.xyz/'
# Save as CSV
df.to_csv(output.csv', header=True, index=False)

In [9]:
# Save as Parquey
df.to_parquet('gs://hws-async/sahil@asynclabs.xyz/table.parquet')

In [ ]:
new_df = pd.read_parquet('example_fp.parquet', engine='fastparquet')