In [5]:
import pandas as pd
import hyperline

In [14]:
df = hyperline.sql.execute_sql("SELECT address, eth_balance FROM \"bigquery-public-data\".\"crypto_ethereum\".\"balances\" WHERE eth_balance > 0 LIMIT 10")

In [15]:
with pd.option_context('display.max_colwidth', None):
  display(df)

                                            0                             1
0  0x7e8ad17f68ff1c077c6132626a68133caba62d83  311017472000000000.000000000
1  0x1b242e9f9b723ed63f3aa315b8773cef337a856f     524288000000000.000000000
2  0x4e09cc5666a185481470cc61ce0d2a122ffb0da8   11059200000000000.000000000
3  0x179709cbb087b882ce2151fcd87fcf005039a3c1    1916928000000000.000000000
4  0xb78f52b6b073a7674ee599b291f22e550baf85bb   30720000000000000.000000000
5  0xd873ee7af9717777d8a3d952b152996fc7d1ad9a  307200000000000000.000000000
6  0x49c60f1a62c05f9093a5ba69ef55d616b7fe75af     671744000000000.000000000
7  0x2d2b01b793ecf895f7237415ff9b019f755c6a79  102400000000000000.000000000
8  0x776f6686bddf073416f5d8b2150e56695c1f6b0b      19005440000000.000000000
9  0x427e5add91788d44040a223d3423abf8abf87677    6144000000000000.000000000